{% load static from staticfiles %}
<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block scripts %}{% endblock scripts%}
    <title>{% block title %}YesNo{% endblock title %}</title> 

</head>

<body>

<!-- ******NAV BAR****** -->
<nav>
    <div class="logo"><p><a href="/">YesNo.Ninja</a></p></div>
    <div class="menu">
        <ul>
            <li><a href="/submit">Submit</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</nav>

{% block content %}
<div class="container">

<!-- ******QUESTION ROW****** -->
    <div class="row">
        <div class="twelve columns">
            <div class="question-nav">
                <ul>
                    <li id="last">
                        <a href="/"><i class="fa fa-chevron-left fa-2x"></i></a>
                    </li>
                    <li id="question">
                        <h1>Q:</h1>
                        <p>{{ question }}</p>
                    </li>
                    <li id="next">
                        <a href="/"><i class="fa fa-chevron-right fa-2x"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

<!-- ******ANSWER ROW****** -->

    <div class="row">
        <div class="twelve columns">
             <div class="answer">
                <span id = "yes-button" class="button" data-choice="yes">Yes</span>
                <span id = "no-button" class="button" data-choice="no">No</span>
            </div>  
        </div>
    </div>

<!-- ******DATA ROW****** -->

    <div class="row">
        <div class="twelve columns">
            <div id="data">
            </div>  
        </div>
    </div>

</div>

<script type-"text/javascript"> var qid = {{ qid }} </script>
<script src="{% static 'js/answer.js'%}"></script>
{% endblock content %}

</body>
</html>