{% extends 'yesno/../app/base.html' %}
{% load static from staticfiles %}

{% block scripts %}
{% endblock scripts%}

{% block title %}YesNo - Login{% endblock title %}

{% block content %}

<h1 class="text-primary">{{ user.username }}'s Ninja Stats</h1>
<p>Ninja name: {{ user.username }} </p>

<p>Email: {{ user.email }} </p>

<p>Preferred Pronoun: {{ profile.gender }}</p>
<p>Zipcode: {{ profile.zipcode }}</p>
<p>Birthdate: {{ profile.birthdate }}</p>
<p>Income: {{ profile.income }}</p>
<p>Race: {{ profile.race }}</p>
<p>Orientation: {{ profile.orientation }}</p>

<h3 class="text-primary">My Questions</h3>
<ul>
{% for q in question_list %}
  <li>
    {{ q.question }}
  </li>
  
{% endfor %}
</ul>

<h3 class="text-primary">My Answers</h3>
<ul>
{% for a in answer_list %}
<li>
  {{ a.question }}
</li>

{% endfor %}
</ul>

{% endblock content %}