{% extends 'yesno/../app/base.html' %}
{% load static from staticfiles %}
	
{% block scripts %}
{% endblock scripts%}

{% block title %}YesNo - Signup{% endblock title %}

{% block content %}

	<h1>Sign Up</h1>
	<form action="/signup/" id="signup-form" method="POST">
    {% csrf_token %}
    	{% for field in userform.visible_fields %}
            {{ field.errors }}
            </br>
            {{ field.help_text }}
            </br>
            {{ field }}
        {% endfor %}

        {% for field in profileform.visible_fields %}
            {{ field.errors }}
            </br>
            {{ field.help_text }}
            </br>
            {{ field }}
        {% endfor %}

	    </br>
	    <div id="submit">
	    	<input type="submit" value="Sign Up" id="submitButton"/>
	    </div>
	    
	</form>

{% endblock content %}

